.site-slogan {
  margin-top: 12%;
  margin-left: 200px;
  width: 300px;

  & .slogan-btn {
    margin-left: 60px;
  }
  & .slogan-title {
    font-size: 70px;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
  }
}
